{
    "advertising": {
        "enabled": false,
        "adServerUrl": null,
        "adTimeout": 2000,
        "maxAds": 100,
        "adInterval": 0
    },
    "preload": false,
    "type": "carousel",
    "title": "New Name",
    "name": "copy-verification",
    "channelId": "117407961",
    "layout": "bootstrap"
}